<nav>
    <div class="sidebar">
        <h3>Olá [Usuário]!</h3>
        <ul>
            <li>
                <a href="#">Meus Dados</a>
            </li>
            <li>
                <a href="#">Endereços</a>
            </li>
            <li>
                <a href="#">Assinatura</a>
            </li>
            <li>
                <a href="#">Termos e Condições</a>
            </li>
            <li>
                <a href="#">Avaliação e Feedback</a>
            </li>
            <li>
                <a href="#">Conecte-se a nós</a>
            </li>
            <li>
                <a href="#">Sobre RURALIZA</a>
            </li>
            <li>
                <a href="#">Trocar Contas</a>
            </li>
            <li>
                <a href="#">Pedidos</a>
            </li>
        </ul>
    </div>
</nav>
