<header>
    <link rel="stylesheet" href="/static/css/estilo.css">    
    <a href="teste.html"><img src="/static/img/LOGO HORIZONTAL VETOR.png" alt="logo" class="logo"></a>
    <a href="teste.html"><img src="/static/img/local.png" alt="local" class="local"></a>
    <a href="teste.html" class="cep">Informar CEP</a>
    <input type="text" class="barra" name="NomeCompleto" id="txtNomeCompleto">
    <a href="teste.html"><img src="/static/img/lupa.png" alt="lupa" class="lupa"></a>
    <a href="teste.html" class="entrar">Entrar</a>
    <a href="teste.html" class="criarconta">Criar Conta</a>
    <a href="teste.html"><img src="/static/img/cesta compras.png" alt="cesta" class="cesta"></a>
</header>