.page-link {
    color: var(--bs-danger);
    background-color: var(--bs-white);
    border: 1px solid var(--bs-danger);
}

.page-link:hover {
    color: var(--bs-dark);
    background-color: var(--bs-light);
    border: 1px solid var(--bs-danger);
}

.page-link.active,
.page-link.active:hover {
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
    color: var(--bs-white);
}

.table td,
.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.texto-3-linhas {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.texto-1-linha {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* sidebar */

body {
    font-family: Lato, sans-serif;
}
.sidebar {
    width: 250px;
    background-color: #fdfdfd;
    padding: 20px;
    border-right: 1px solid #fdfdfd;
}
.sidebar h2 {
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 20px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #47525E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar ul li a:hover {
    color: #522E80;
}

.h1150{
    height: 1150px;
}

.h1400{
    height: 1400px;
}

.h1000{
    height: 1000px;
}

.h1200{
    height: 1200px;
}

.h572{
    height: 572px;
  }
  .h100{
    height: 100px;
  }
  .h49{
    height: 49px;
  }
  .corroxa{
    background-color: #5A328C;
  }

  .h600{
    height: 600px;
}

.w18{
    width: 18rem;
}

.h800{
    height: 800px;
}

.h50{
    height: 50px;
}

.h300{
    height: 300px;
}

.h250{
    height: 250px;
}

.product-card {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.section-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.dropdown-container p {
    margin: 0;
    font-weight: bold;
}
.dropdown-container {
    margin-bottom: 15px;
}

.h500{
    height: 500px;
}

.h5000{
    height: 5000px;
}

.h200{
    height: 200px;
}

.h3800{
    height: 3800px;
}

.h2000{
    height: 2000px;
}