{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}

<div class="row">
  <div class="col-12 col-md-3 mt-0">
    <h1 class="ms-4 mt-3">Olá Usuário!</h1>
    <div class="list-group ms-3 mt-3">
      <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
      <a href="/adicionar_endereco" class="list-group-item list-group-item-action active fs-6">Endereços</a>
      <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
      <a href="/termos" class="list-group-item list-group-item-action fs-6">Termos e Condições</a>
      <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
      <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
      <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
      <a href="/mudarconta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
      <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
    </div>
  </div>
  <div class="col-12 col-md-8 h1150 mt-5 p-4 ms-4">
    <div class="col-5 d-inline-block">
      <h1>Novo Endereço:</h1>
    </div>
    <div class="col-5 d-inline-block">
      <a href="/enderecos"><i class="bi bi-arrow-return-left text-dark" style="font-size: 40px;"></i></a>
    </div>
    <div class="col-10">
      <div class="col-9 d-inline-block">
        <label for="nomedestinatario" class="form-label mt-5">Nome do Destinatário*:</label>
        <input type="txt" name="nomedestinatario" id="nomedestinatario" placeholder="Nome Completo"
          class="form-control form-control-lg mb-2">
      </div>
      <hr>
      <div class="col-6 d-inline-block">
        <label for="cep" class="form-label">CEP*:</label>
        <input type="txt" name="senha" id="senha" placeholder="CEP" class="form-control form-control-lg mb-2">
      </div>
      <div class="col-3 d-inline-block">
        <label for="numero" class="form-label">Número*:</label>
        <input type="txt" name="numero" id="numero" placeholder="Nº" class="form-control form-control-lg mb-2">
      </div>
      <div class="col-2">
        <a href="#" class="text-success" style="text-decoration: none;">Buscar CEP</a>
      </div>
      <div class="col-4 mt-4">
        <a href="#" class="text-success" style="text-decoration: none;">+ adicionar ponto de referência</a>
      </div>
      <div class="col-10 form-check form-switch mt-5">
        <input class="form-check-input" type="checkbox" id="enderecoPrincipal" style="width: 60px; height: 22px">
        <label class="form-check-label ms-3 mt-1" for="flexSwitchCheckDefault">Endereço Principal</label>
      </div>
      <div class="col-9 d-inline-block">
        <label for="apelido" class="form-label mt-5">Definir Apelido*:</label>
        <input type="txt" name="apelido" id="apelido" placeholder="Apelido" class="form-control form-control-lg mb-2">
      </div>
      <div class="col-2 mt-5">
        <button class="btn btn-success fs-1" type="submit">Salvar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}