{% extends "shared/pages/base.html" %}

{% block subtitulo %}Assinatura{% endblock %}

{% block conteudo %}

<div class="row">
  <div class="col-md-3 mt-0">
    <h1 class="ms-4 mt-3">Olá Usuário!</h1>
    <div class="list-group ms-3 mt-3">
      <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
      <a href="/enderecos" class="list-group-item list-group-item-action fs-6">Endereços</a>
      <a href="/assinar" class="list-group-item list-group-item-action active fs-6">Assinatura</a>
      <a href="/termos" class="list-group-item list-group-item-action  fs-6">Termos e Condições</a>
      <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
      <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
      <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
      <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
      <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
    </div>
  </div>
  <div class="col-md-8 h1000 mt-5 p-4">
    <a href="#"><img style="width: 92%;" class="ms-3" src="/static/img/assinatura/assinar.png" alt="assinar"></a>
    <a href="#"><img style="width: 45%;" class="ms-3 mt-4" src="/static/img/assinatura/criar_caixa.png" alt="criar"></a>
    <a href="#"><img style="width: 45%" class="ms-3 mt-4" src="/static/img/assinatura/entrega_gratis.png"
        alt="entrega"></a>
  </div>
</div>
{% endblock %}