{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}
        
   
        <div>
            <div class="h1150 mt-4 p-4 ms-3">
                <div class="mb-5 d-flex">
                    <a href="/rastreio_enviado"><i class="bi bi-arrow-left-circle-fill me-3" style="font-size: 40px;"></i></a><h4 class="mt-2 ms-2">Avaliar</h4>
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xxl-6 g-5 mx-5">
                    <div class="col">
                      <div class="card">
                        <img style="width: 100%;" src="/static/img/produtos/geleia_de_morango.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Geléia de Morango</h5>
                          <a class="btn btn-outline-dark ms-3" href="/avaliar_2">Avaliar</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img style="width: 100%;" src="/static/img/produtos/laranja.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Laranja</h5>
                          <a class="btn btn-outline-dark ms-3" href="/avaliar_2">Avaliar</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img style="width: 100%;" src="/static/img/produtos/paprica.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Páprica</h5>
                          <a class="btn btn-outline-dark ms-3" href="/avaliar_2">Avaliar</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img style="width: 100%;" src="/static/img/produtos/ameixa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ameixa</h5>
                          <a class="btn btn-outline-dark ms-3" href="/avaliar_2">Avaliar</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}