{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}
        
   
            <div class="row col-10 h1200 mt-4 p-4 mx-auto">
                <div class="mb-5 col-1">
                    <a href="/avaliar"><i class="bi bi-arrow-left-circle-fill" style="font-size: 40px;"></i></a>
                </div>
                <div class="col-12 col-md-7 col-lg-6 col-xl-4 mb-5 mx-auto">
                  <img src="/static/img/produtos/ameixa.jpg" style="width: 100%;" alt="">
                </div>
                <div class="col-11 col-md-4 col-lg-5 col-xl-6 col-xxl-7 ps-4">
                    <h3>Ameixa Vermelha Tipo 2</h3>
                    <h5>De: Fazenda Santa Clara</h5>
                    <h5>Data da Compra: 27/07/2024</h5>
                    <h3 class="mt-5">Avalie:</h3><br><i style="font-size: 30px;" class="bi bi-star"></i><i style="font-size: 30px;" class="bi bi-star"></i><i style="font-size: 30px;" class="bi bi-star"></i><i style="font-size: 30px;" class="bi bi-star"></i><i style="font-size: 30px;" class="bi bi-star"></i>
                    <h3 class="mt-5">Comente:</h3><br>
                    <textarea class="form-control" id="exampleFormControlTextarea1" cols="2" rows="3"></textarea>
                </div>
            </div>
        {% endblock %}