{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}

<body>
  <div class="container">
    <div class="row">
      <header class="col-12 bg-light h100">
        <div class="col-3 ps-3 pt-3">
          <img class="p-4" style="width: 225px" src="/static/img/logos/LOGO HORIZONTAL VETOR.png" alt="logo">
        </div>
      </header>
      <div class="col-12 h49 corroxa"></div>
      <div class="col-12 col-xl-7 h572 corroxa align-content-center mx-auto"><img style="margin-left: 30%; width: 30%"
          src="/static/img/logos/LOGO REDUZIDA VETOR.png" alt="logo"></div>
      <div class="col-12 col-xl-4 h572">
        <div class="col-12 h100"></div>
        <div class="col-3 mx-auto ps-2 mt-5">
          <img src="/static/img/logos/LOGO VETOR.png" alt="logo">
        </div>
        <div class="col-12 text-center mt-4">
          <h3>Seja Bem Vindo!</h3>
        </div>
        <div class="col-12 text-center mt-4">
          <p>Compre e venda produtos de qualidade com<br> a facilidade e agilidade de Ruraliza</p>
        </div>
        <div class="col-12 text-center mt-4">
          <a class="fw-semibold text-reset fs-2" style="text-decoration: none;" href="/login">Entrar</a>
        </div>
      </div>
      <div class="col-1 corroxa h572"></div>
      <div class="col-12 h49 corroxa"></div>
    </div>
  </div>
  {% endblock %}