{% extends "shared/pages/base.html" %}

{% block subtitulo %}Grãos{% endblock %}

{% block conteudo %}
<div class="col-11 mx-auto">
  <div class="my-3">
    <a class="me-3" href="#"><img src="/static/img/banners/banner1.png" alt="banner1" style="width: 55%;"></a>
    <a href="/cupons"><img src="/static/img/banners/banner2.png" alt="banner2" style="width: 37%;"></a>
  </div>
  <div class="my-5 ms-5">
    <h3>CATEGORIAS</h3>
  </div>
  <div class="col-12">
    <div class="col-12 btn-group my-4" aria-label="Basic example">
      <a href="/categoria_frutas" type="button" class="btn"><img src="/static/img/categorias/frutas2.png"
          style="height: 90px;"></a>
      <a href="/categoria_vegetais" type="button" class="btn"><img src="/static/img/categorias/vegetais2.png" style="height: 90px;"></a>
      <a href="/categoria_temperos" type="button" class="btn"><img src="/static/img/categorias/temperos2.png" style="height: 90px;"></a>
    </div>
    <div class="col-12 btn-group my-4" aria-label="Basic example">
      <a href="/categoria_graos" type="button" class="btn"><img src="/static/img/categorias/graos2.png" style="height: 90px;"></a>
      <a href="/categoria_compotas" type="button" class="btn"><img src="/static/img/categorias/compotas2.png" style="height: 90px;"></a>
      <a href="/categoria_producoes_rurais" type="button" class="btn"><img src="/static/img/categorias/producoes_rurais2.png" style="height: 90px;"></a>
    </div>
  </div>
  <div>
    <h3 class="ms-5 my-5 pt-5">GRÃOS E CASTANHAS</h3>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-6 g-3 mx-5 my-3">
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0000.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Café
              em Grãos</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$45,90/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Sebastião</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0001.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Grão
              de Bico</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$16,80/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Augusto</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0002.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Feijão
              Preto</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$8,50/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Rosimere</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0003.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Feijão
              Vermelho</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$11,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Frederico</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0004.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Gergelim</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$23,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Dona Maria</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0005.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Canjica Branca</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$22,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Fazenda Leste</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-6 g-3 mx-5 my-3">
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0006.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Arroz</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$7,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Casa do Campo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0007.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Chia</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$15,80/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Casa do Tempero</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0008.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Feijão
              Branco</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$16,90/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Olavo</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0009.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto" class="fs-6 text-dark fw-bold">Quinoa
              Branca</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$26,99/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Produções M.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0010.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Semente de Girassol</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$20,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Produções M.</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0011.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Semente de Abobora</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$16,98/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Medicina Alternativa</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-6 g-3 mx-5 my-3">
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0012.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Catanha de Caju</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$37,90/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Pomar Pessoal</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0013.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Castanh do Pará</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$34,59</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">graos em Casa</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0014.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Amendoim</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$9,69/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Cheiro Verde</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0015.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Avelã</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$43,99/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Fritas em Casa</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0016.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Pistache</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$116,25/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Sebastião</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img style="width: 100%;" src="/static/img/produtos/graos/0017.jpg" class="card-img-top" alt="...">
        <div class="card-body row">
          <div class="col-6 text-start"><a style="text-decoration: none;" href="/produto"
              class="fs-6 text-dark fw-bold">Amendoa Crua</a></div>
          <div class="col-6 text-end">
            <h6 class="pt-1">R$30,00/Kg</h6>
          </div>
          <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i>
            <h6 class="pt-1">Sebastião</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1 mx-auto my-5">
    <a href="/cupons" style="font-size: 100%;" class="btn btn-outline-dark">VER MAIS</a>
  </div>
</div>
{% endblock %}