<style>
    .content {
        flex: 1;
        padding: 20px;
    }
    .content h2 {
        margin-bottom: 10px;
    }
    .content p {
        margin-bottom: 20px;
    }
    
    .column a{
        text-decoration: none;
        color: green;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Endereços:</h2>
            <p>Aqui você cadastra, altera ou exclui seus endereços.</p>
            <div class="col-6" column>
                <a class="add-address" href="#">
                    + Adicionar Novo Endereço
                </a>
            </div>
        </div>
    </div>
</div>
