{% extends "pages/base.html" %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}
<style>
    body {
        display: flex;
        font-family: Arial, sans-serif;
    }
    .sidebar {
        width: 250px;
        background-color: #fdfdfd;
        padding: 20px;
        border-right: 1px solid #fdfdfd;
    }
    .sidebar h2 {
        margin-bottom: 20px;
    }
    .sidebar ul {
        list-style: none;
        padding: 0;
    }
    .sidebar ul li {
        margin-bottom: 20px;
    }
    .sidebar ul li a {
        text-decoration: none;
        color: #47525E;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar ul li a:hover {
        color: #522E80;
    }
    .content {
        flex: 1;
        padding: 20px;
    }
    .content h2 {
        margin-bottom: 10px;
    }
    .content p {
        margin-bottom: 20px;
    }
    .add-address-column{
        margin-top: 80px;
        margin-right: 900px;
    }
    .add-address-column a{
        text-decoration: none;
        color: green;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

</style>
</head>
<body>
    <div class="sidebar">
        <h3>Olá [Usuário]!</h3>
        <ul>
            <li><a href="#">Meus Dados</a></li>
            <li><a href="#">Endereços</a></li>
            <li><a href="#">Assinatura</a></li>
            <li><a href="#">Termos e Condições</a></li>
            <li><a href="#">Avaliação e Feedback</a></li>
            <li><a href="#">Conecte-se a nós</a></li>
            <li><a href="#">Sobre RURALIZA</a></li>
            <li><a href="#">Trocar Contas</a></li>
            <li><a href="#">Pedidos</a></li>
        </ul>
    </div>
    <div class="content">
        <h2>Endereços:</h2>
        <p>Aqui você cadastra, altera ou exclui seus endereços.</p>
    </div>
    <div class="add-address-column">
        <a class="add-address" href="#">+ Adicionar 
            novo endereço</a>
    </div>
</body>
</html>

{% endblock %}