{% extends "pages/base_login.html" %}
{% from "shared/macros.html" import input_email, input_password, input_text, input_date %}
{% block subtitulo %}Criar Conta{% endblock %}
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-12 h49 corroxa"></div>
    <div class="col-12 col-xl-5 corroxa align-content-center mx-auto"><img style="margin-left: 38%; width: 25%"
        src="/static/img/logos/LOGO REDUZIDA VETOR.png" alt="logo"></div>
    <div class="col-12 col-xl-6">
      <div class="col-8 mt-5 mb-4 mx-auto px-auto">
        <h1 class="display-5 text-center fw-semibold" style="color: #47525E; font-size: 30px;">Criar Conta</h1>
      </div>
      <form action="/post_cadastrar_entregador" method="post">
        <div id="step1" class="step">
          {{ input_text("nome", "Nome Completo:", "Nome Completo", div_classes="col-12 mb-3 mt-0 mx-auto") }}
          {{ input_email("email", "Email:", "Email", div_classes="col-12 mb-3 mx-auto") }}
          {{ input_text("cpf", "CPF:", "CPF", div_classes="col-12 mb-3 mx-auto") }}
          {{ input_text("telefone", "Telefone:", "Telefone", div_classes="col-12 mb-3 mt-0 mx-auto") }}
        </div>
        <div id="step2" class="step d-none">
          {{ input_date("data_nascimento", "Data de Nascimento:", div_classes="col-12 mb-3 mt-0 mx-auto") }}
          {{ input_password("senha", "Senha:", "Senha", div_classes="col-12 mb-3 mx-auto") }}
          {{ input_password("conf_senha", "Confirme a Senha:", "Confirme a Senha", div_classes="col-12 mt-4 mb-3 mx-auto") }}
        </div>
        <div id="step3" class="step d-none">
          <div class="row col-12 mb-3">
            <div class="col-7">
              <label for="tipo_veiculo" class="form-label">Tipo de Veículo:</label>
              <input type="text" name="tipo_veiculo" id="tipo_veiculo" placeholder="Tipo de Veículo"
                class="form-control">
            </div>
            <div class="col-5">
              <label for="cor" class="form-label">Cor:</label>
              <input type="text" name="cor" id="cor" placeholder="Cor" class="form-control">
            </div>
          </div>
          <div class="col-12 mb-3 mx-auto">
            <label for="placa" class="form-label">Placa:</label>
            <input type="text" name="placa" id="placa" placeholder="Placa" class="form-control">
          </div>
          <div class="col-12 mb-3 mx-auto">
            <label for="cnh" class="form-label">CNH:</label>
            <input type="text" name="cnh" id="cnh" placeholder="CNH" class="form-control">
          </div>
          <div class="col-3 my-5 mx-auto">
            <button class="btn btn-success fs-4 ms-2" type="submit">Cadastrar</button>
          </div>
        </div>
        </form>
        <div class="row col-12 ms-auto me-4 mt-3">
          <div class="col-3">
            <button id="prevBtn" class="btn btn-success btn-lg text-dark" style="font-size: 30px;" type="button"><i class="bi bi-caret-left-fill"></i></button>
          </div>
          <div class="col-6 text-center align-content-center">
            <h4 id="stepProgress">1/3</h4>
          </div>
          <div class="col-3">
            <button id="nextBtn" class="btn btn-success btn-lg text-dark" style="font-size: 30px;" type="button"><i class="bi bi-caret-right-fill"></i></button>
          </div>
          <div class="col-6 mx-auto text-center mb-5">
            Ao Criar Conta, você concorda com nossos Termos & Condições
          </div>
        </div>
    </div>
    <div class="col-12 col-xl-1 corroxa"></div>
    <div class="col-12 h49 corroxa"></div>
    </div>
    </div>
    <script>
      let currentStep = 0;
      const steps = document.querySelectorAll('.step');
      const stepProgress = document.getElementById('stepProgress');
    
      function updateStep() {    
        steps.forEach((step, index) => {
          step.classList.add('d-none');
          if (index === currentStep) {
            step.classList.remove('d-none');
          }
        });
        stepProgress.textContent = `${currentStep + 1}/${steps.length}`;
      }
    
      document.getElementById('nextBtn').addEventListener('click', () => {
        if (currentStep < steps.length - 1) {
          currentStep++;
          updateStep();
        }
      });
    
      document.getElementById('prevBtn').addEventListener('click', () => {
        if (currentStep > 0) {
          currentStep--;
          updateStep();
        }
      });
      updateStep();
    </script>
{% endblock %}