{% extends "pages/base_login.html" %}
{% block subtitulo %}Entrar{% endblock %}
{% block conteudo %}
<div class="container">
  <div class="row">
    <div class="col-12 h49 corroxa"></div>
    <div class="col-12 col-xl-7 h572 corroxa align-content-center mx-auto"><img style="margin-left: 30%; width: 30%"
        src="/static/img/logos/LOGO REDUZIDA VETOR.png" alt="logo"></div>
    <div class="col-12 col-xl-4 h572">
      <form>
        <div class="col-8 mt-5 mb-4 mx-auto px-auto">
          <h1 class="display-5 text-center fw-semibold" style="color: #47525E; font-size: 250%;">Criar Conta</h1>
        </div>
        <div class="row col-12 mb-3">
          <div class="col-7">
            <label for="nomecompleto" class="form-label">Tipo de Veículo:</label>
            <input type="txt" name="tipoveiculo" id="tipoveiculo" placeholder="Tipo de Veículo"
              class="form-control form-control-lg">
          </div>
          <div class="col-5">
            <label for="corveiculo" class="form-label">Cor:</label>
            <input type="txt" name="corveiculo" id="corveiculo" placeholder="Cor" class="form-control form-control-lg">
          </div>
        </div>
        <div class="col-12 mb-3 mx-auto">
          <label for="email" class="form-label">Placa:</label>
          <input type="txt" name="placa" id="placa" placeholder="Placa" class="form-control form-control-lg">
        </div>
        <div class="col-12 mb-3 mx-auto">
          <label for="cpf" class="form-label">CNH:</label>
          <input type="txt" name="cnh" id="cnh" placeholder="CNH" class="form-control form-control-lg">
        </div>
        <div class="row col-12 ms-auto me-4 mt-5">
          <div class="col-3">
            <a href="/criar_conta_entregador2" class="btn btn-success btn-lg text-dark" style="font-size: 30px;"><i
                class="bi bi-caret-left-fill"></i></a>
          </div>
          <div class="col-6 text-center align-content-center">
            <h4>3/3</h4>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-success btn-lg text-dark" style="font-size: 30px;"><i
                class="bi bi-caret-right-fill"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-xl-1 corroxa h572"></div>
    <div class="col-12 h49 corroxa"></div>
    </div>
    </div>
{% endblock %}