{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %} 
   
            <div class="col-11 mx-auto h1150 mt-4">
                <div>
                    <h4><a href="/"><i class="bi bi-arrow-left-circle-fill me-3" style="font-size: 40px;"></i></a>Meus Cupons</h4>
                </div>
                <div class="col-4 mt-5">
                    <input type="text" class="form-control" placeholder="Escreva aqui o seu código:">
                </div>
                <div class="row my-5">
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                    <div class="col-3 my-5">
                        <a style="font-size: 40px;" href="#" class="btn btn-outline-success"><i class="bi bi-bicycle me-3"></i><h4>FRETE GRÁTIS ACIMA DE 10 REAIS</h4><h6 class="text-start mt-4">Validade até 31/11/2024</h6><h6 class="text-end">Regras</h6></a>
                    </div>
                </div>
            </div>
        {% endblock %}