{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-12 col-md-3 mt-4">
        <a style="text-decoration: none;" href="/gerenciar_contas" class="fs-3 ms-4 text-dark">
            < Voltar</a>
                <div class="list-group ms-3 mt-3">
                    <a href="/gerenciar_categorias" class="list-group-item list-group-item-action fs-6">Gerenciar
                        Categorias</a>
                    <a href="/gerenciar_contas" class="list-group-item list-group-item-action fs-6 active">Gerenciar
                        Contas</a>
                    <a href="/gerenciar_anuncios" class="list-group-item list-group-item-action fs-6">Gerenciar
                        Anúncios</a>
                    <a href="#" class="list-group-item list-group-item-action  fs-6">Chamados</a>
                </div>
    </div>
    <div class="col-12 col-md-8 h1150 mt-5 p-4 ms-4">
        <div class="row col-9">
            <div class="col-12">
                <input class="form-control form-control-lg bg-success bg-opacity-50" type="text"
                    placeholder="Nome da Conta">
            </div>
            <div class="col-6 mt-5">
                <h2>Fazenda Leste</h2>
            </div>
            <div class="col-6 mt-5 text-end">
                <a href="exc_not.html">
                    <button class="btn btn-danger mx-2 mt-3">
                        <i class="bi bi-trash"></i>
                    </button>
                </a>

                <button class="btn btn-warning mx-2 mt-3"><i class="bi bi-ban"></i></button>
            </div>
        </div>
        <div class="mt-5">
            <h2>DADOS:</h2>
        </div>
        <div class="col-10">
            <div class="d-inline-block mt-3">
                <input type="radio" class="btn-check" name="tipo_conta" id="option1" autocomplete="off">
                <label class="btn btn-outline-success me-3 mt-3" for="option1">Cliente</label>

                <input type="radio" class="btn-check" name="tipo_conta" id="option2" autocomplete="off" checked>
                <label class="btn btn-outline-success me-3 mt-3" for="option2">Produtor</label>

                <input type="radio" class="btn-check" name="tipo_conta" id="option3" autocomplete="off">
                <label class="btn btn-outline-success me-3 mt-3" for="option3">Entregador</label>

                <input type="radio" class="btn-check" name="tipo_conta" id="option4" autocomplete="off">
                <label class="btn btn-outline-success mt-3" for="option4">Administrador</label>
            </div>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label mt-5">Email:</label>
                <input type="txt" name="email" id="email" placeholder="usuario@gmail.com"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="checkboxEmail">
                <label class="form-check-label" for="flexCheckChecked">Receber emails Promocionais</label>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="*********"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Nome Completo:</label>
                <input type="txt" name="nomecompleto" id="nomecompleto" placeholder="Erick Coelho"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <label for="genero" class="form-label">Gênero:</label>
            <input class="form-check-input ms-3" type="radio" name="genero" id="masculino" checked><label
                class="form-check-label me-3" for="flexRadioDefault1">Masculino</label>
            <input class="form-check-input" type="radio" name="genero" id="feminino"><label
                class="form-check-label me-3" for="flexRadioDefault1">Feminino</label>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Data de Nascimento:</label>
                <input class="form-control" type="date" name="datanascimento" id="datanascimento" value="2006-03-01"
                    readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Número de Telefone</label>
                <input type="txt" name="email" id="email" placeholder="28999007851"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">CPF:</label>
                <input type="txt" name="email" id="email" placeholder="111.111.111-11"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <div class="col-9 d-inline-block">
                <label for="cpr" class="form-label">CPR:</label>
                <input type="txt" name="cpr" id="cpr" placeholder="111.111.111-11"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <div class="col-9 d-inline-block">
                <label for="rua" class="form-label">Endereço:</label>
                <input type="txt" name="rua" id="rua" placeholder="Nildo Ataíde Pinheiro"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <div class="col-6 d-inline-block">
                <label for="bairro" class="form-label">Bairro:</label>
                <input type="txt" name="bairro" id="bairro" placeholder="São Luiz Gonzaga"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-3 d-inline-block ps-2">
                <label for="numero" class="form-label">Número:</label>
                <input type="txt" name="numero" id="numero" placeholder="46" class="form-control form-control-lg mb-2"
                    readonly>
            </div>
            <div class="col-9 d-inline-block">
                <label for="rua" class="form-label">Ponto de Referência:</label>
                <input type="txt" name="rua" id="rua" placeholder="A rua se localiza atrás da Escola Juracy Cruz"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 mt-5">
                <button class="btn btn-success fs-1" type="submit">Salvar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}