{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %} 
        .h1150{
            height: 1150px;
        }
        .w18{
            width: 18rem;
        }
   
        <div class="row">
            <div class="col-12 col-md-3 mt-0">
                <h1 class="ms-4 mt-3">Olá Usuário!</h1>
                <div class="list-group ms-3 mt-3">
                    <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
                    <a href="/adicionar_endereco" class="list-group-item list-group-item-action active fs-6">Endereços</a>
                    <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
                    <a href="/termos" class="list-group-item list-group-item-action fs-6">Termos e Condições</a>
                    <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
                    <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
                    <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
                    <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
                    <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
                </div>
            </div>
            <div class="col-12 col-md-8 h1150 mt-5 p-4 ms-4">
                <div class="col-5 d-inline-block">
                    <h1>Endereços:</h1>
                </div>
                <div class="col-12 col-md-5 d-inline-block">
                    <a class="text-success" style="text-decoration: none; font-size: 20px;" href="/adicionar_endereco">+ Adicionar novo endereço</a>
                </div>
                <div class="mt-2">
                    <p class="fs-6">Aqui você cadastra, altera ou exclui seus endereços.</p>
                </div>
                <div class="card mt-5">
                    <div class="card-header">
                        <h3>
                            Casa 1
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>Rua: Nildo Ataíde Pinheiro
                        <br>nº 46
                        <br>Bairro: São Luiz Gonzaga
                        <br>Cidade: Cachoeiro de Itapemirim
                        <br>CEP: 29306-832
                        <br>Ponto de Referência: Próximo à escola Juracy Cruz
                        <p>
                        <i style="font-size: 20px;" class="bi bi-check"></i>Endereço Principal
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="ms-5 text-success" href="#" style="text-decoration: none;">Editar</a>
                        <a class="ms-5 text-success" href="#" style="text-decoration: none;">Excluir</a>
                    </div>
                </div>
                <div class="card mt-5">
                    <div class="card-header">
                        <h3>
                            Casa 2
                        </h3>
                    </div>
                    <div class="card-body">
                        <p>Rua: Pedro Gusmão
                        <br>nº 27
                        <br>Bairro: São Luiz Gonzaga
                        <br>Cidade: Cachoeiro de Itapemirim
                        <br>CEP: 29306-810
                        <br>Ponto de Referência: Próximo ao comércio do Romildo
                        <p>
                            <i style="font-size: 20px;" class="bi bi-x"></i>Endereço Principal
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="ms-5 text-success" href="#" style="text-decoration: none;">Editar</a>
                        <a class="ms-5 text-success" href="#" style="text-decoration: none;">Excluir</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endblock %}