{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %}
<div class="container" style="background-color: #C3D7BD;
    border-radius: 10px;
    width: 1073px;
    height: 619px;
    padding:15px;">
  <div class="card">
    <div class="card-header bg-white">
      <h5 class="card-title text-danger d-flex align-items-center" style="margin-top: 5px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
          class="bi bi-trash3-fill me-2" viewBox="0 0 16 16">
          <path
            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
        </svg>
        ANUNCIO DE EXCLUSÃO
      </h5>
    </div>
    <div class="card-body" style="background-color: #f3f3f3;">
      <!-- Formulário -->
      <form>
        <div class="mb-3">
          <label for="exclusionMessage" class="form-label">Mensagem de Exclusão</label>
          <textarea class="form-control" id="exclusionMessage" rows="17"
            placeholder="Digite a mensagem de exclusão aqui..."></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Excluir</button>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}