{% extends "shared/pages/base.html" %}

{% block subtitulo %}Meus Dados{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-12 col-md-3 mt-0">
        <h1 class="ms-4 mt-3">Olá Usuário!</h1>
        <div class="list-group ms-3 mt-3">
            <a href="/meus_dados" class="list-group-item list-group-item-action active fs-6">Meus Dados</a>
            <a href="/enderecos" class="list-group-item list-group-item-action fs-6">Endereços</a>
            <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
            <a href="/termos" class="list-group-item list-group-item-action fs-6">Termos e Condições</a>
            <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
            <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
            <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
            <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
            <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
        </div>
    </div>
    <div class="col-12 col-md-8 h1150 mt-5 p-4 ms-4">
        <div>
            <h1>Meus Dados:</h1>
        </div>
        <div class="col-10">
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label mt-5">Email:</label>
                <input type="txt" name="email" id="email" placeholder="usuario@gmail.com"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <div>
                <input class="form-check-input" type="checkbox" value="" id="checkboxEmail">
                <label class="form-check-label" for="flexCheckChecked">Receber emails Promocionais</label>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="*********"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Nome Completo:</label>
                <input type="txt" name="nomecompleto" id="nomecompleto" placeholder="Erick Coelho"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <label for="genero" class="form-label">Gênero:</label>
            <input class="form-check-input ms-3" type="radio" name="genero" id="masculino" checked><label
                class="form-check-label me-3" for="flexRadioDefault1">Masculino</label>
            <input class="form-check-input" type="radio" name="genero" id="feminino"><label
                class="form-check-label me-3" for="flexRadioDefault1">Feminino</label>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Data de Nascimento:</label>
                <input class="form-control" type="date" name="datanascimento" id="datanascimento" value="2006-03-01"
                    readonly>
            </div>
            <div class="col-2 d-inline-block">
                <i class="bi bi-lock" style="font-size: 35px;"></i>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">Número de Telefone</label>
                <input type="txt" name="email" id="email" placeholder="28999007851"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block ps-2">
                <a href="#">Alterar</a>
            </div>
            <hr>
            <div class="col-9 d-inline-block">
                <label for="email" class="form-label">CPF:</label>
                <input type="txt" name="email" id="email" placeholder="111.111.111-11"
                    class="form-control form-control-lg mb-2" readonly>
            </div>
            <div class="col-2 d-inline-block">
                <i class="bi bi-lock" style="font-size: 35px;"></i>
            </div>
            <div class="col-2 mt-5">
                <button class="btn btn-success fs-1" type="submit">Salvar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}