{% extends "shared/pages/base.html" %}

{% block subtitulo %}Montar Box{% endblock %}

{% block conteudo %} 
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid py-4" style="background-color: #88ca72;">
                <img src="/static/img/logos/LOGO HORIZONTAL VETOR.png" alt="logo" style="width: 125px;" class="ms-4">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-3 my-auto">
                      <a class="nav-link fs-5" aria-current="page" href="#"><i style="font-size: 20px;" class="bi bi-map mx-2"></i>Informar CEP</a>
                    </li>
                    <li class="nav-item ms-3 my-auto">
                      <form class="d-flex" role="search">
                          <input class="form-control me-2" type="search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </li>
                    <li class="nav-item ms-5 my-auto">
                      <a class="nav-link fs-5" aria-current="page" href="/login">Entrar</a>
                    </li>
                    <li class="nav-item ms-3 my-auto">
                      <a class="nav-link fs-5" aria-current="page" href="/selecionar_tipo_perfil">Criar Conta</a>
                    </li>
                    <li class="nav-item ms-3">
                      <a class="nav-link" aria-current="page" href="/pedidos"><i style="font-size: 30px;" class="bi bi-basket2"></i></a>
                    </li>
                  </ul>
                </div>
    </div>
  </nav>
<body>  
<div class="container">
    <div class="row my-3">
        <div class="col-1">
            <a href="#" class="btn btn-link">
                <i class="bi bi-chevron-compact-left"></i> 
            </a>
        </div>
        <div class="col-4">
            <p><strong>CRIANDO SUA CAIXA</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <img class="p-4" style="width:300px" src="/static/img/icones/box.png" alt="box">
        </div>
        <div class="col-2">
            <div class="dropdown-container">
                <p>Regularidade:</p>
                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Semanal
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Diário</a></li>
                    <li><a class="dropdown-item" href="#">Semanal</a></li>
                    <li><a class="dropdown-item" href="#">Quinzenal</a></li>
                    <li><a class="dropdown-item" href="#">Mensal</a></li>
                </ul>
            </div>
            <div class="dropdown-container">
                <p>Em Falta:</p>
                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Notificar
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Cancelar</a></li>
                    <li><a class="dropdown-item" href="#">Substituir por semelhante</a></li>
                    <li><a class="dropdown-item" href="#">Notificar</a></li>
                </ul>
            </div>
            <div class="dropdown-container">
                <p>Pagamento Prévio:</p>
                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ativo
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Ativo</a></li>
                    <li><a class="dropdown-item" href="#">Inativo</a></li>
                </ul>
            </div>
            <div class="dropdown-container">
                <p>Dia de Receber:</p>
                <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sexta
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Domingo</a></li>
                    <li><a class="dropdown-item" href="#">Segunda-Feira</a></li>
                    <li><a class="dropdown-item" href="#">Terça-Feira</a></li>
                    <li><a class="dropdown-item" href="#">Quarta-Feira</a></li>
                    <li><a class="dropdown-item" href="#">Quinta-Feira</a></li>
                    <li><a class="dropdown-item" href="#">Sexta-Feira</a></li>
                    <li><a class="dropdown-item" href="#">Sábado</a></li>
                </ul>
            </div>
        </div>
        <div class="col-2 d-flex align-items-start me-10">
            <button type="button" class="btn btn-success w-50">Finalizar</button>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-12 section-title">Produtos para próxima entrega</div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Banana-Maçã">
            <p>Banana-Maçã</p>
            <p><small>Fazenda Leste</small></p>
            <p><strong>R$ 23,80</strong> / Kg</p>
        </div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Cebola Mineira">
            <p>Cebola Mineira</p>
            <p><small>Fazenda de Luz</small></p>
            <p><strong>R$ 6,50</strong> / Kg</p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 section-title">Escolha os produtos dentro dos seus favoritos:</div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Carioca">
            <p>Carioquinha</p>
            <p><small>Casa do Campo</small></p>
            <p><strong>R$ 9,98</strong> / Kg</p>
        </div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Jiló">
            <p>Jiló</p>
            <p><small>Vendas Laurindo</small></p>
            <p><strong>R$ 12,20</strong> / Kg</p>
        </div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Pimentão Vermelho">
            <p>Pimentão Vermelho</p>
            <p><small>Fazenda de Luz</small></p>
            <p><strong>R$ 35,99</strong> / Kg</p>
        </div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Pimentão Vermelho">
            <p>Pimentão Vermelho</p>
            <p><small>Fazenda de Luz</small></p>
            <p><strong>R$ 35,99</strong> / Kg</p>
        </div>
        <div class="col-2 product-card">
            <img src="/static/img/produtos/0007.jpg" alt="Pimentão Vermelho">
            <p>Pimentão Vermelho</p>
            <p><small>Fazenda de Luz</small></p>
            <p><strong>R$ 35,99</strong> / Kg</p>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
{% endblock %}