{% extends "shared/pages/base.html" %}

{% block subtitulo %}Pedidos{% endblock %}

{% block conteudo %}


<div class="row">
  <div class="col-md-3 mt-0">
    <h1 class="ms-4 mt-3">Olá Usuário!</h1>
    <a href="/perfil_usuario" class="btn btn-outline-success ms-3 fs-4 my-4"><i class="bi bi-arrow-left me-3"></i></i>Voltar ao meu Perfil</a>
    <div class="list-group ms-3 mt-3">
      <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
      <a href="/enderecos" class="list-group-item list-group-item-action fs-6">Endereços</a>
      <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
      <a href="/termos" class="list-group-item list-group-item-action  fs-6">Termos e Condições</a>
      <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
      <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
      <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
      <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
      <a href="/pedidos" class="list-group-item list-group-item-action active fs-6">Pedidos</a>
    </div>
  </div>
  <div class="col-md-8 h5000 mt-5 p-4 ms-3">
    <div>
      <h4>Todas Encomendas</h4>
    </div>
    <div class="mt-5">
      <h4>> Em Andamento</h4>
    </div>
    <div class="mt-5">
      <h5>Pedido #343565</h5>
    </div>
    <div class="mt-3 ms-4">
      <h5><i class="bi bi-person"></i>Sebastião</h5>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-5 mx-5">
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/geleia_de_morango.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Geléia de Morango</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/laranja.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Laranja</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/paprica.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Páprica</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/ameixa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ameixa</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 ms-4">
      <h5><i class="bi bi-person"></i>Josué</h5>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-5 mx-5">
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/geleia_de_morango.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Geléia de Morango</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/laranja.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Laranja</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/paprica.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Páprica</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/ameixa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ameixa</h5>
            <a class="btn btn-outline-dark ms-3" href="/rastreio">Rastrear Pedido</a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 mb-4">
      <h4>Pedidos Anteriores</h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-5 mx-5">
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/geleia_de_morango.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Geléia de Morango</h5>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-dark ms-3" href="/produto">Comprar Novamente</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/laranja.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Laranja</h5>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-dark ms-3" href="/produto">Comprar Novamente</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/paprica.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Páprica</h5>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-dark ms-3" href="/produto">Comprar Novamente</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img style="width: 100%;" src="/static/img/produtos/ameixa.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ameixa</h5>
          </div>
          <div class="card-footer">
            <a class="btn btn-outline-dark ms-3" href="/produto">Comprar Novamente</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}