{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %} 
   
        <div class="col-12">
            <img src="/static/img/produtores/0003.jpg" style="width: 20%;" class="rounded-circle ms-4 mt-5 position-absolute border border-3 border-black">
            <img src="/static/img/banners/banner3.jpg" style="width: 110%;">
        </div>
        <div class="col-12 mt-5 h200">
        </div>
        <div class="col-10 mx-auto mb-5">
          <h2>Fazenda Santa Clara</h2>
          <h4><i class="bi bi-geo-alt-fill"></i>CIDADE Castelo, ES</h4>
          <button class="btn btn-outline-dark fs-4">+ SEGUIR</button>
          <button class="btn btn-secondary ms-3"><i class="bi bi-chat-square-dots" style="font-size: 24px;"></i></button>
        </div>
        <div>
          <h3 class="ms-5 my-5 pt-5">PRODUTOS</h3>
        </div>
        <div class="col-10 mx-auto">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-6 g-3 mx-5 my-3">
          <div class="col">
            <div class="card">
              <img style="width: 100%;" src="/static/img/produtos/0001.jpg" class="card-img-top" alt="...">
              <div class="card-body row">
                <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Quiabo</a></div>
                <div class="col-6 text-end"><h6 class="pt-1">R$5,29/Kg</h6></div>
                <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Sebastião</h6></div>
              </div>
            </div>
          </div>
          <div class="col">
              <div class="card">
                <img style="width: 100%;" src="/static/img/produtos/0002.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                  <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Abacate</a></div>
                  <div class="col-6 text-end"><h6 class="pt-1">R$13,50/Kg</h6></div>
                  <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Augusto</h6></div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img style="width: 100%;" src="/static/img/produtos/0003.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                  <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Feijão Preto</a></div>
                  <div class="col-6 text-end"><h6 class="pt-1">R$9,90/Kg</h6></div>
                  <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Rosimere</h6></div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img style="width: 100%;" src="/static/img/produtos/0004.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                  <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Pimenta</a></div>
                  <div class="col-6 text-end"><h6 class="pt-1">R$40,25/Kg</h6></div>
                  <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Frederico</h6></div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img style="width: 100%;" src="/static/img/produtos/0005.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                  <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Feijão Carioca</a></div>
                  <div class="col-6 text-end"><h6 class="pt-1">R$9,98/Kg</h6></div>
                  <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Dona Maria</h6></div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img style="width: 100%;" src="/static/img/produtos/0006.jpg" class="card-img-top" alt="...">
                <div class="card-body row">
                  <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Jiló</a></div>
                  <div class="col-6 text-end"><h6 class="pt-1">R12,20/Kg</h6></div>
                  <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Fazenda Leste</h6></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-6 g-3 mx-5 my-3">
              <div class="col">
                <div class="card">
                  <img style="width: 100%;" src="/static/img/produtos/0007.jpg" class="card-img-top" alt="...">
                  <div class="card-body row">
                    <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Açafrão</a></div>
                    <div class="col-6 text-end"><h6 class="pt-1">R$26,00/Kg</h6></div>
                    <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Casa do Campo</h6></div>
                  </div>
                </div>
              </div>
              <div class="col">
                  <div class="card">
                    <img style="width: 100%;" src="/static/img/produtos/0008.jpg" class="card-img-top" alt="...">
                    <div class="card-body row">
                      <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Lemon Pepper</a></div>
                      <div class="col-6 text-end"><h6 class="pt-1">R$31,25/Kg</h6></div>
                      <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Casa do Tempero</h6></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img style="width: 100%;" src="/static/img/produtos/0009.jpg" class="card-img-top" alt="...">
                    <div class="card-body row">
                      <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Banana-Maçã</a></div>
                      <div class="col-6 text-end"><h6 class="pt-1">R$23,80/Kg</h6></div>
                      <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Olavo</h6></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img style="width: 100%;" src="/static/img/produtos/0010.jpg" class="card-img-top" alt="...">
                    <div class="card-body row">
                      <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Cebola</a></div>
                      <div class="col-6 text-end"><h6 class="pt-1">R$6,50/Kg</h6></div>
                      <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Produções M.</h6></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img style="width: 100%;" src="/static/img/produtos/0011.jpg" class="card-img-top" alt="...">
                    <div class="card-body row">
                      <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Alho</a></div>
                      <div class="col-6 text-end"><h6 class="pt-1">R$39,38/Kg</h6></div>
                      <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Produções M.</h6></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img style="width: 100%;" src="/static/img/produtos/0012.jpg" class="card-img-top" alt="...">
                    <div class="card-body row">
                      <div class="col-6 text-start"><a style="text-decoration: none;" href="#" class="fs-6 text-dark fw-bold">Gengibre</a></div>
                      <div class="col-6 text-end"><h6 class="pt-1">R$19,90/Kg</h6></div>
                      <div class="col-12 d-flex"><i class="pe-2 bi bi-shop-window"></i><h6 class="pt-1">Medicina Alternativa</h6></div>
                    </div>
                  </div>
                </div>
                <div class="col-1 mx-auto my-5">
                  <a href="/cupons" style="font-size: 100%;" class="btn btn-outline-dark">VER MAIS</a>
                </div>
              </div>
          </div>
        {% endblock %}