{% extends "pages/base_login.html" %}
{% block subtitulo %}Criar Conta{% endblock %}
{% block conteudo %}
<div class="container">
    <div class="row">
      <div class="col-12 h49 corroxa"></div>
      <div class="col-12 col-xl-7 h572 corroxa align-content-center mx-auto"><img style="margin-left: 38%; width: 25%"
          src="/static/img/logos/LOGO REDUZIDA VETOR.png" alt="logo"></div>
      <div class="col-12 col-xl-4 h572">
        <form>
          <div class="col-8 mt-5 mb-4 mx-auto px-auto">
            <h1 class="display-5 text-center fw-semibold" style="color: #47525E; font-size: 40px;">Criar Conta</h1>
          </div>
          <div class="d-grid col-10 mx-auto my-5 gap-3">
            <a href="/criar_conta_cliente1" class="btn btn-outline-success text-dark text-start"
              style="font-size: 25px;"><img src="/static/img/tipos_perfil/cliente.png" alt="cliente" style="width: 50px;"
                class="me-3">CLIENTE</a>
            <a href="/criar_conta_produtor1" class="btn btn-outline-success text-dark text-start"
              style="font-size: 25px;"><img src="/static/img/tipos_perfil/produtor.png" alt="cliente"
                style="width: 50px;" class="me-3">PRODUTOR</a>
            <a href="/criar_conta_entregador1" class="btn btn-outline-success text-dark text-start"
              style="font-size: 25px;"><img src="/static/img/tipos_perfil/entregador.png" alt="cliente"
                style="width: 50px;" class="me-3">ENTREGADOR</a>
          </div>
          <div class="col-12 ms-4">
            <a href="/login" type="submit" class="btn btn-success btn-lg text-dark" style="font-size: 30px;"><i
                class="bi bi-caret-left-fill"></i></a>
          </div>
        </form>
      </div>
      <div class="col-12 col-xl-1 corroxa h572"></div>
      <div class="col-12 h49 corroxa"></div>
    </div>
  </div>
{% endblock %}