{% extends "shared/pages/base.html" %}

{% block subtitulo %}Página Principal{% endblock %}

{% block conteudo %} 
        <div class="row">
            <div class="col-md-3 mt-0">
                <h1 class="ms-4 mt-3">Olá Usuário!</h1>
                <div class="list-group ms-3 mt-3">
                    <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
                    <a href="/enderecos" class="list-group-item list-group-item-action fs-6">Endereços</a>
                    <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
                    <a href="/termos" class="list-group-item list-group-item-action  fs-6">Termos e Condições</a>
                    <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
                    <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
                    <a href="/sobrenos" class="list-group-item list-group-item-action active fs-6">Sobre RURALIZA</a>
                    <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
                    <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
                </div>
            </div>
            <div class="col-md-9 h1500 mt-5 p-4">
                    <h4>Sobre Nós</h4>
                    <p>Bem-vindo ao Ruraliza, onde conectamos diretamente você aos pequenos produtores rurais do Brasil, trazendo o campo para a sua mesa. Nosso objetivo é facilitar o acesso a alimentos frescos, saudáveis e de alta qualidade, cultivados com carinho e dedicação por agricultores locais.</p>
                    <h4>Nossa Missão</h4>
                    <p>Em Ruraliza, acreditamos que todos merecem acesso a alimentos nutritivos e sustentáveis. Nossa missão é construir uma ponte entre pequenos produtores rurais e consumidores conscientes, promovendo práticas agrícolas justas e sustentáveis enquanto apoiamos as economias locais.
                    <h4>O Que Fazemos</h4>
                    <p>Nossa plataforma online oferece uma experiência de compra conveniente e confiável, onde você pode encontrar uma ampla variedade de produtos frescos diretamente dos agricultores. Desde frutas e legumes orgânicos até produtos artesanais e alimentos processados, garantimos a qualidade e a frescura de cada item disponível em nosso marketplace.</p>
                    <h4>Por Que Escolher Ruraliza?</h4>
                    <p>Produtos Frescos e Sustentáveis: Trabalhamos com produtores que utilizam práticas agrícolas responsáveis, oferecendo produtos que são saudáveis para você e para o meio ambiente.</p>
                    <p>Apoio aos Pequenos Produtores: Ao comprar no nosso marketplace, você está diretamente apoiando pequenos agricultores e suas famílias, ajudando a fortalecer a economia rural.</p>
                    <p>Transparência e Confiança: Valorizamos a transparência em todas as etapas do processo, desde a origem dos produtos até a entrega na sua porta. Cada produtor é cuidadosamente selecionado e seus métodos de cultivo são verificados.</p>
                    <p>Facilidade e Conveniência: Nossa plataforma é fácil de usar, permitindo que você faça suas compras de forma rápida e segura, com opções de entrega que se adaptam à sua rotina.</p>
                    <h4>Nossa História</h4>
                    <p>Ruraliza nasceu da paixão por alimentos saudáveis e pelo desejo de criar um impacto positivo na vida dos pequenos agricultores e consumidores. Inspirados pelas feiras livres e mercados locais, decidimos criar uma solução moderna que preserva o espírito comunitário e a autenticidade dos alimentos frescos.</p>
                    <h4>Junte-se a Nós</h4>
                    <p>Estamos comprometidos em transformar a maneira como você compra e consome alimentos. Junte-se a nós nessa jornada de valorização da agricultura familiar e do consumo consciente. Explore nossa plataforma, descubra produtos incríveis e faça parte de uma comunidade que valoriza a qualidade, a sustentabilidade e o apoio aos pequenos produtores.</p>
                </p>
            </div>
        </div>
        {% endblock %}