{% extends "shared/pages/base.html" %}

{% block subtitulo %}Termos e Condições de Uso{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-12 col-md-3 mt-0">
        <h1 class="ms-4 mt-3">Olá Usuário!</h1>
        <a href="/perfil_usuario" class="btn btn-outline-success ms-3 fs-4 my-4"><i class="bi bi-arrow-left me-3"></i></i>Voltar ao meu Perfil</a>
        <div class="list-group ms-3 mt-3">
            <a href="/meus_dados" class="list-group-item list-group-item-action fs-6">Meus Dados</a>
            <a href="/enderecos" class="list-group-item list-group-item-action fs-6">Endereços</a>
            <a href="/assinar" class="list-group-item list-group-item-action fs-6">Assinatura</a>
            <a href="/termos" class="list-group-item list-group-item-action active fs-6">Termos e Condições</a>
            <a href="/feedback" class="list-group-item list-group-item-action fs-6">Avaliação e Feedback</a>
            <a href="/contatos" class="list-group-item list-group-item-action fs-6">Conecte-se a Nós</a>
            <a href="/sobrenos" class="list-group-item list-group-item-action fs-6">Sobre RURALIZA</a>
            <a href="/mudar_conta" class="list-group-item list-group-item-action fs-6">Trocar Contas</a>
            <a href="/pedidos" class="list-group-item list-group-item-action fs-6">Pedidos</a>
        </div>
    </div>
    <div class="col-12 col-md-9 h3000 mt-5 p-4">
        <h4>1. Do objeto</h4>
        <p>A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos de propriedade
            intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários.</p>
        <p>A plataforma caracteriza-se pela prestação do seguinte serviço: Anuncio e venda de produtos pereciveis.</p>
        <p>A plataforma realiza a venda à distância por meio eletrônico dos seguintes produtos ou serviços: produtos de
            produção rural.</p>
        <h4>2. Da aceitação</h4>
        <p>O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado,
            entre a plataforma e as pessoas físicas ou jurídicas, usuárias do site.</p>
        <p>Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las,
            sob o risco de aplicação das penalidade cabíveis.</p>
        <p>A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços
            fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve
            utilizá-los.</p>
        <h4>3. Do acesso dos usuários</h4>
        <p>Serão utilizadas todas as soluções técnicas à disposição do responsável pela plataforma para permitir o
            acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a navegação na
            plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações,
            modificações ou qualquer ação necessária ao seu bom funcionamento.</p>
        <h4>4. Do cadastro</h4>
        <p>O acesso às funcionalidades da plataforma exigirá a realização de um cadastro prévio e, a depender dos
            serviços ou produtos escolhidos, o pagamento de determinado valor.</p>
        <p>Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva
            responsabilidade manter referidos dados atualizados, bem como o usuário se compromete com a veracidade dos
            dados fornecidos.</p>
        <p>O usuário se compromete a não informar seus dados cadastrais e/ou de acesso à plataforma a terceiros,
            responsabilizando-se integralmente pelo uso que deles seja feito.</p>
        <p>Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o
            consentimento expresso de seus responsáveis legais para utilização da plataforma e dos serviços ou produtos,
            sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não
            possuem plena capacidade civil sem a prévia autorização.</p>
        <p>Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo
            exercer e usufruir livremente dos serviços e produtos.</p>
        <p>O usuário deverá fornecer um endereço de e-mail válido, através do qual o site realizará todas comunicações
            necessárias.</p>
        <p>Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o
            acesso individual à mesma. Desta forma, compete ao usuário exclusivamente a manutenção de referida senha de
            maneira confidencial e segura, evitando o acesso indevido às informações pessoais.</p>
        <p>Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá
            informar prontamente a plataforma em caso de uso indevido da respectiva senha.</p>
        <p>Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e
            intransferível.</p>
        <p>Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que
            viabilize a utilização da plataforma e dos serviços ou produtos.</p>
        <p>O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao site __ OU aplicativo
            ___. O seu descadastramento será realizado o mais rapidamente possível, desde que não sejam verificados
            débitos em aberto.</p>
        <p>O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar,
            usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, do site e quaisquer
            plataformas, incluindo todas as informações preenchidas pelo usuário no momento em que realizar ou atualizar
            seu cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada
            pelo usuário.</p>
        <p>(Se a plataforma vende serviços ou produtos)</p>
        <h4>5. Dos serviços ou produtos</h4>
        <p>A plataforma poderá disponibilizar para o usuário um conjunto específico de funcionalidades e ferramentas
            para otimizar o uso dos serviços e produtos.</p>
        <p>Na plataforma os serviços ou produtos oferecidos estão descritos e apresentados com o maior grau de exatidão,
            contendo informações sobre suas características, qualidades, quantidades, composição, preço, garantia,
            prazos de validade e origem, entre outros dados, bem como sobre os riscos que apresentam à saúde e segurança
            do usuário.</p>
        <p>Antes de finalizar a compra sobre determinado produto ou serviço, o usuário deverá se informar sobre as suas
            especificações e sobre a sua destinação.</p>
        <p>(Se há produtos ou serviços a serem entregues pela plataforma)</p>
        <p>A entrega de serviços ou produtos adquiridos na plataforma será informada no momento da finalização da
            compra.</p>
        <h4>6. Dos preços</h4>
        <p>A plataforma se reserva no direito de reajustar unilateralmente, a qualquer tempo, os valores dos serviços ou
            produtos sem consulta ou anuência prévia do usuário.</p>
        <p>Os valores aplicadas são aqueles que estão em vigor no momento do pedido.</p>
        <p>Os preços são indicados em reais e não incluem as taxas de entrega, as quais são especificadas à parte e são
            informadas ao usuário antes da finalização do pedido.</p>
        <p>Na contratação de determinado serviço ou produto, a plataforma poderá solicitar as informações financeiras do
            usuário, como CPF, endereço de cobrança e dados de cartões. Ao inserir referidos dados o usuário concorda
            que sejam cobrados, de acordo com a forma de pagamento que venha a ser escolhida, os preços então vigentes e
            informados quando da contratação. Referidos dados financeiros poderão ser armazenadas para facilitar acessos
            e contratações futuras.</p>
        <p>A contratação dos serviços será renovada automaticamente pela plataforma, independentemente de comunicação ao
            usuário, mediante cobrança periódica da mesma forma de pagamento indicada pelo usuário quando da contratação
            do serviço.</p>
    </div>
</div>
{% endblock %}